body {
  margin: 0;
  width: 100%;
  background-color: #d8d8d8;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  background-color: #212529;
  color: #aaa8a6;
  width: 100%;
}
.footerRow {
  width: 100vw;
}

.navbarMenu {
  width: 100%;
}

.loginpage {
  margin: 20px auto;
  width: 55%;
  border-radius: 20px;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  background-color: white;
}

.loginimg {
  border-radius: 0px 20px 20px 0px;
}

.login-heading {
  width: 60%;
  margin: 4% auto;
}
.login-heading-span {
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

.forgot {
  border: none;
  color: dodgerblue;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.forgot:hover {
  background: #ffffff;
  color: dodgerblue;
}

#studentintro {
  background-color: #f8efef;
  border-radius: 20px;

  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  width: 90vw;
  margin: 0 auto;
}

.studentintroimg {
  height: 400px;
}

.studentintrotex {
  padding-top: 100px;
}

#profile {
  background-color: #f8efef;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
  width: 90vw;
}

#messrating {
  background-color: #f8efef;
  border-radius: 20px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

#messregistration {
  background-color: #f8efef;
  border-radius: 20px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

#messcard {
  background-color: #f8efef;
  border-radius: 20px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

#messdue {
  background-color: #f8efef;
  border-radius: 20px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

#messarchive {
  background-color: #f8efef;
  border-radius: 20px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

.messcarddownload {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}
.passwordchange {
  background-color: #f8efef;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 20px;
}

.rules {
  background-color: #ebf3fb;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
}

.homepagebutton {
  background-color: #48596a;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 25px;
}

.homepagebutton a {
  text-decoration: none;
  color: whitesmoke;
}

.card {
  background-color: #f8efef;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

.rowcard {
  background-color: #f8efef;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 10px 5px 5px rgb(157, 156, 156);
  margin-top: 20px;
}

.menu {
  padding-top: 0px;
  border-radius: 0;
  background-color: #212529;
  margin-bottom: 0;
}

.mainlogo {
  /* margin-left: 700px */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* .loginOptions {
  margin-right: 20px;
} */

.navbarOptions {
  margin-left: 40px;
}
/* css for rules and regulations*/
.read-or-hide {
  color: rgb(61, 44, 148);
  cursor: pointer;
}
/* css for team  */

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 10px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #212529;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #212529;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #ffffff;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #212529;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #212529;
  background-color: #ffffff;
}

.team-wrap {
  display: flex;
  align-items: center;
}

.info-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  margin: 2% 2% 1% 2%;
}
.about-wrap {
  justify-content: center;
  width: 90%;
  margin: 0 auto 3% auto;
}

.about-img {
  width: 50px;
}

/* css for team ends  */

.studentPageCol {
  padding: 0px 0px;
}

.studentPageButton {
  width: 90%;
  border: 0px;
  padding: 10px 30px;
  cursor: pointer;
  opacity: 0.6;
  background: #fef5e5;
  border: 0;
  outline: 0;
  border-bottom: 2px solid transparent;
  transition: ease border-bottom 250ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.studentPageButtonactive {
  border-bottom: 2px solid #212529;
  opacity: 1;
  background-color: #212529;
  color: white;
}

.MDBinput {
  background-color: white !important ;
}

.swiper-container {
  width: 480px;
  padding: 10px;
}

/* css for swiper image  */

.swiper-img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 6px rgb(44, 62, 80));
}

.swiper-img-wrap {
  overflow: hidden;
}

.hostel-card-div a {
  text-decoration: none;
  color: black;
}

/* css for administration table in hostel page*/

.archive-table {
  height: 300px;
  overflow: scroll;
}

/* media queries  */
@media only screen and (max-width: 600px) {
  .SlideShowText {
    padding-top: 10vh;
    font-size: 20px;
  }
  .clgname {
    margin-left: 50px;
  }
  .SlideShow {
    height: 200px;
  }
  .studentintroimg {
    display: none;
  }
  .loginpage {
    width: 80%;
  }
  .mess-admin-rating {
    display: none;
  }
}

@media screen and (min-width: 360px) {
  .column {
    font-size: 10px;
  }
  .swiper-container {
    width: 360px;
  }
  .swiper-img {
    margin: 15px;
    border-radius: 7%;
  }
  .rating-table{
    width: 95%;}
    
  .card-subhead {
    display: inline-block;
    font-size: 18px;
  }
  div.menu {
    height: 60px;
  }
}

@media screen and (min-width: 470px) {
  .card-subhead {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .column {
    margin-left: 105px;
    margin-right: -25px;
  }
  .swiper-container {
    width: 768px;
  }
  .swiper-img {
    margin: 25px;
    border-radius: 7%;
  }
  .rating-table{
    width: 95%;
    }
  .nav-link {
    font-size: 1.6rem;
  }
  .login-nav {
    position: absolute;
    right: 20px;
  }
  .nav-link {
    font-size: medium;
    margin: auto 4px;
    color: #e8e2e2;
  }
}

@media screen and (min-width: 992px) {
  .swiper-container {
    width: 992px;
  }
  .nav-link {
    font-size: medium;
    margin: auto 10px;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-container {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .swiper-container {
    width: 1920px;
  }
}

/* media query ends  */
.hostel_card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 6px rgb(44, 62, 80));
}

.hideCard {
  opacity: 0;
}

.showCard {
  opacity: 1;
  filter: blur(0px);
  transition: opacity 2s linear;
}

.complaint-title:hover {
  cursor: pointer;
  color: darkblue;
}

.pref {
  border-radius: 10px;
  width: 250px;
  height: 30px;
}

.modal-btn:hover{
  font-weight: 500;
  color: white;  
  background-color: black;}

.navbar-brand {
  float: none;
}

button.navbar-toggler {
  position: absolute;
  right: 10px;
  top: 10px;
}

.navbar-nav {
  margin: 0;
}

div.menu {
  height: 75px;
}

.nav-link:hover {
  color: #85cdfd;
  text-decoration: none;
}

.signout:hover {
  text-decoration: underline;
}

a.dropdown-item {
  background-color: #393e42;
  color: white;
  padding: 5px;
}

a.dropdown-item:hover {
  background-color: #393e42;
  color: #85cdfd;
  text-decoration: none;
}

div.dropdown-menu.show {
  padding: 0;
}

th,
td {
  text-align: center;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.colorwhite {
  background-color: white;
}
